@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(209, 206, 206, 0.918);
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 40px;
  background-color: white;
  border: 0px solid black;
  border-radius: 5px;
}
.row {
  padding: 30px;
}
.col {
  padding: 50px;
}
.form-control {
  display: block;
  width: 75%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 0px;
  color: aqua;
  height: auto;
  border-radius: 0%;
  background-color: white;
  background-clip: padding-box;
}
.form-control:focus {
  color: #000;
  background-color: white;
  border-color: blue;
  outline: 0;
  box-shadow: none;
}
.btn-class {
  border-color: white;
  background-color: blue;
  color: aliceblue;
  padding-left: 30px;
  padding-right: 30px;
}
.q {
  color: black;
}
#a {
  color: #000;
  text-align: center;
}
#header {
  font-weight: 600;
  padding-bottom: 40px;
}

.form-control {
  font-family: fontAwesome;
}
.btn-primary {
  border-spacing: 30px;
}
#icon3 {
  background-color: red;
  border: red;
}
#icon1 {
  background-color: rgb(55, 5, 146);
  border: rgb(55, 5, 146);
}
#icon2 {
  background-color: blue;
  border: blue;
}
